.video__section {
    position: relative;
    background: linear-gradient(to top, hsl(256, 51%, 58%), #482871, #20033D, #20033D);
    padding: 50px 0;
}

.circle_video {
    position: absolute;
    width: 35vw;
    height: 35vh;
    top: 42%; /* Ajusta este valor para mover el círculo verticalmente */
    left: 30%; /* Ajusta este valor para mover el círculo horizontalmente */
    background: radial-gradient(circle at center, rgb(223, 214, 176) 30%, #f8bef7 40%, rgba(72, 40, 113, 0) 70%);
    z-index: 0; /* Coloca el círculo detrás del video */
    filter: blur(4rem); /* Ajusta el efecto blur si es necesario */
    transform: translate(-50%, -50%); /* Usando transform para centrar según sea necesario */
}
.circle_video1 {
    position: absolute;
    width: 31vw;
    height: 31vh;
    top: 42%; /* Ajusta este valor para mover el círculo verticalmente */
    left: 60%; /* Ajusta este valor para mover el círculo horizontalmente */
    background: radial-gradient(circle at center, rgb(230, 186, 255) 30%, #9d00f1 40%, rgba(72, 40, 113, 0) 70%);
    z-index: 0; /* Coloca el círculo detrás del video */
    filter: blur(4rem); /* Ajusta el efecto blur si es necesario */
    transform: translate(-50%, -50%); /* Usando transform para centrar según sea necesario */
}

.circle_video2{
    position: absolute;
    width: 40vw;
    height: 40vh;
    top: 70%; /* Ajusta este valor para mover el círculo verticalmente */
    left: 65%; /* Ajusta este valor para mover el círculo horizontalmente */
    background: radial-gradient(circle at center, rgb(193, 193, 207) 30%, #f8bef7 40%, rgba(72, 40, 113, 0) 70%);
    z-index: 0; /* Coloca el círculo detrás del video */
    filter: blur(4rem); /* Ajusta el efecto blur si es necesario */
    transform: translate(-50%, -50%); /* Usando transform para centrar según sea necesario */
}
.video-container {
    position: relative;
    width: 880px;
    height: 627px;
    margin: 0 auto;
    z-index: 1; /* Asegura que el video esté por encima del círculo */
    display: flex;
    justify-content: center;
    align-items: center;
}
