
.block-Sec4 {
    overflow: hidden;
    position: relative;
}

.block-Sec4-CirculosFondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    filter:blur(7rem);
}

.circle1 {
    position: absolute;
    width: 85vw; 
    height: 150vh; 
    top: 9%;
    left: -57%;
    background: radial-gradient(circle at center, rgba(251, 215, 164, 0.6509) 30%, #FFD076 40%, rgba(72, 40, 113, 0) 70%);
}


.circle2 {
    position: absolute;
    width: 87vw;
    height: 153vh;
    top: calc(56%);
    left: calc(60%);
    background: radial-gradient(circle at center, rgba(251, 215, 164, 0.6509) 0%, #A259FF 39%, rgba(72, 40, 113, 0) 60%);
}


.block-Sec4-Titulo_seccion4{
    margin: 50px 0px 0px 0px;
    font-weight: 900;
    letter-spacing: 0.9px;
    background-image: linear-gradient(to left,#FFD339 9%, #B070A0 65%, #7F32E1 100%);
    color: transparent;
    background-clip: text;
    animation: scaleUp 0.8s ease forwards;
}

.block-Sec4-Subtitulo_seccion4{
    display: flex;
    margin:0;
    justify-content: center;
    animation: scaleUp 0.8s ease forwards;
}

.block-Sec4-Subtitulo_seccion4 h5{
    color:white;
    margin: 30px 0px 0px 0px;
    font-size: 1.2rem;
}




/*------------- ELEMENTOS -------------*/

.block-Sec4-Elementos{
    color: white;
}

.EMPRESA-1,.VIDEO-1,.CONTENIDO-1 {
    transition: transform 0.5s ease;
    order: 1;
}

.block-Sec4-EMPRESA{
    margin-top: 4em;
}

.block-Sec4-EMPRESA, .block-Sec4-VIDEO, .block-Sec4-CONTENIDO{
    animation: scaleUp 0.8s ease forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 18%;
    margin-bottom: 6rem;
}

.EMPRESA-1 h3, .VIDEO-1 h3, .CONTENIDO-1 h3{
    margin-bottom: 1em;
    font-size: 2em;
}

.EMPRESA-1 p, .VIDEO-1 p, .CONTENIDO-1 p{
    padding: 4rem 3.3rem;
    font-size: 1.1rem;
}

.block-Sec4-BOX, .block-Sec4-BOXV, .block-Sec4-BOXC{
    position: relative;
    border-radius: 15px;
    opacity: 75%;
    transition: border-image 0.3s ease; 
}

.block-Sec4-BOX::before, .block-Sec4-BOXV::before, .block-Sec4-BOXC::before{
    position: absolute;
    content: "";
    height: 98%;
    width: 99%;
    top: 0; 
    left: 0; 
    border: 5px solid transparent; 
    border-image: linear-gradient(to right, #926a16 0%, transparent 25%, transparent 74%, #926a16 100%) 1;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.282);
    transition: border-image .3s ease; 

}

.block-Sec4-BOX:hover::before, .block-Sec4-BOXV:hover::before, .block-Sec4-BOXC:hover::before {
    border-image: linear-gradient(to right, #ffbb29 0%, transparent 25%, transparent 74%, #ffe100 100%) 1;
}


.folder, .Cora, .play{
    transition: transform 0.5s ease;
    order: 2;
}

.folder {
    margin-top: 0.4rem;
    width: 18vw; 
    max-width: 100%; 
    height: auto; 
}

.Cora{
    margin-top: 3rem;
    width: 20vw; 
    max-width: 100%; 
    height: auto; 
}

.play {
    margin-top: 2.4rem;
    width: 26vw;
    max-width: 100%;
    height: auto;
}




.EMPRESA-1:hover, .VIDEO-1:hover,.CONTENIDO-1:hover{
    transform: scale(1.05);
}


.folder:hover, .play:hover, .Cora:hover  {
    transform: scale(1.05);
}


@media (max-width: 1019px) {
    .section__header{
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .folder, .Cora, .play{
        order: 1;
    }
    .EMPRESA-1,.VIDEO-1,.CONTENIDO-1 {
        order: 2;
    }
    .block-Sec4-EMPRESA, .block-Sec4-VIDEO, .block-Sec4-CONTENIDO{
        flex-direction: column;
    }
    .EMPRESA-1 h3, .VIDEO-1 h3, .CONTENIDO-1 h3{
        text-align: center;
        margin: 1em;
    }
}
